{% extends 'admin/base.html' %}
{# Workaround to avoid circular template extends errors #}
{% load i18n static %}

{% block userlinks %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}" class="icon-link change-password-link" data-title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
        <span class="separator">/</span>
    {% endif %}
    <a href="{% url 'admin:logout' %}" class="icon-link logout-link" data-title="{% trans 'Log out' %}">{% trans 'Log out' %}</a>
{% endblock %}
